.clockContainer{
	overflow:hidden;
	text-align: center;
}

.clockDiv{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width: auto;
}

/* Smaller than standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) {
        .clock { display: block; margin: 5px auto 0 auto; width: 620px; }
        .clock ul li { line-height: 87px !important;}

        .flip-clock-divider .flip-clock-label { top:-1.4em; font-size: 16px; }
        .flip-clock-divider.days .flip-clock-label { right: -87px; }
        .flip-clock-divider.hours .flip-clock-label { right: -90px; }
        .flip-clock-divider.minutes .flip-clock-label { right: -96px; }
        .flip-clock-divider.seconds .flip-clock-label { right: -100px; }

    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {

    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 601px) and (max-width: 767px) {
	    .clock { display: block; margin: 2px auto; width: 600px; }

	    .flip-clock-wrapper ul { margin: 3px; height: 75px; line-height: 75px; }
	    .clock ul li { line-height: 73px !important;}

	    .flip-clock-wrapper ul li a div.up:after { top: 36px; }
	    .flip-clock-divider { width: 15px; height: 50px;}
	    .flip-clock-dot { left: 3px; width: 9px; height: 9px;}
	    .flip-clock-dot.top { top: 26px; }
	    .flip-clock-dot.bottom { bottom: -5px; }

	    .flip-clock-divider .flip-clock-label { top:-1.4em; font-size: 16px; }
	    .flip-clock-divider.days .flip-clock-label { right: -84px; }
	    .flip-clock-divider.hours .flip-clock-label { right: -90px; }
	    .flip-clock-divider.minutes .flip-clock-label { right: -95px; }
	    .flip-clock-divider.seconds .flip-clock-label { right: -95px; }

	    .flip-clock-wrapper ul { width: 63px; }
	    .flip-clock-wrapper ul li a div div.inn { font-size: 62px; }
	}

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 421px) and (max-width: 600px) {
        .clock { display: block; margin: 0 auto; width: 400px; }

        .flip-clock-wrapper ul { margin: 3px; height: 50px; line-height: 50px; }
        .clock ul li { line-height: 48px !important;}

        .flip-clock-wrapper ul li a div.up:after { top: 24px; }
        .flip-clock-divider { width: 10px; height: 50px;}
        .flip-clock-dot { left: 3px; width: 6px; height: 6px;}
        .flip-clock-dot.top { top: 17px; }
        .flip-clock-dot.bottom { bottom: 8px; }

        .flip-clock-divider .flip-clock-label { top:-1.4em; font-size: 11px; }
        .flip-clock-divider.days .flip-clock-label { right: -62px; }
        .flip-clock-divider.hours .flip-clock-label { right: -65px; }
        .flip-clock-divider.minutes .flip-clock-label { right: -69px; }
        .flip-clock-divider.seconds .flip-clock-label { right: -68px; }

        .flip-clock-wrapper ul { width: 40px; }
        .flip-clock-wrapper ul li a div div.inn { font-size: 42px; }
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 420px) {
        .clock { display: block; margin: 0 auto; width: 350px; }

        .flip-clock-wrapper ul { margin: 3px 1px; height: 50px; line-height: 50px; }
        .clock ul li { line-height: 48px !important;}

        .flip-clock-wrapper ul li a div.up:after { top: 24px; }
        .flip-clock-divider { width: 12px; height: 50px;}
        .flip-clock-dot { left: 3px; width: 6px; height: 6px;}
        .flip-clock-dot.top { top: 17px; }
        .flip-clock-dot.bottom { bottom: 8px; }

        .flip-clock-divider .flip-clock-label { top:-1.4em; font-size: 11px; }
        .flip-clock-divider.days .flip-clock-label { right: -54px; }
        .flip-clock-divider.hours .flip-clock-label { right: -54px; }
        .flip-clock-divider.minutes .flip-clock-label { right: -61px; }
        .flip-clock-divider.seconds .flip-clock-label { right: -64px; }

        .flip-clock-wrapper ul { width: 37px; padding-left: 30px; }
        .flip-clock-wrapper ul li a div div.inn { font-size: 42px; }
    }