@import url('https://fonts.googleapis.com/css?family=Imprima');

body {
	font-family: 'Imprima';
}
.section {
	padding:30px;
	min-height:200px;
	color:black
}
.section.black {
	background-color:#fff;
	background: url(../images/roadbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mainContent {
	font-size:1.4em;
}

#description {
	margin:20px 0px;
}

.mainContentTitle {
	color:red;
	border-bottom:1px solid red;
	font-weight:bold;
	padding-bottom:5px;
	margin-bottom:10px;
	font-size:1.3em;
}

.mainContentSection {
	margin-bottom:30px;
}

#topicsList  {
	margin-bottom:0px;
}
#topicsList li {
	line-height:1.1em;
	padding-bottom:20px;
}
.topicsTitle {
	font-size:1.2em;
	font-weight:bold;
	margin-bottom:10px;
}
#noChargeDiv {
	font-size:1.3em;
	font-weight:bold;
}
#noChargeStrong {
	color:red;
	text-decoration:underline;
}
#noChargeDisclaimer {
	font-size:0.7em;
}
#subContent {
	padding:20px;
	background-color:#e41e2c;
}

.subContentBox {

	border:2px solid white;
	padding:10px;
	text-align:center;
	line-height:1.2em;
	margin-bottom:20px;
	font-size:1.2em;
	color:white;
	background-color:#333;
}

.subContentBox.white {
	background-color:white;
	color:#e41e2c;
}

.subContentBox.leftAligned {
	text-align:left;
}

#bonusBox{
	font-weight:bold;
	font-size:1.5em;
	color:white;
	margin-bottom:40px;
}

#bonusTitle {
	color:yellow;
	font-size:1.8em;
	line-height:1.5em;
}

#locationBox {
	color:yellow;
	font-size:1.5em;
	font-weight:bold;
}

.subContentBox .strong {
	font-weight:bold;
	font-size:1.5em;
	margin-bottom:10px;
}

.times {
	margin:10px 0px;
	background-color:yellow;
	padding:20px;
	color:black;
	font-size:1.2em;
}


#registrationSection .title {
	font-size:2em;
	font-weight:bold;
	margin-bottom:10px;
}

#registrationTable {
	width:100%;
	border-collapse: collapse;
	font-size:1.3em;
}

#registrationTable th,#registrationTable td {
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	line-height:1em;
}

#registrationTable th {
	background-color:#efefef;
	padding:10px 5px;
	color:#555;
}
#registrationTable td {
	padding:0px 10px;
}

#registrationTable input,#registrationTable select{
	border:0px;
	width:100%;
	height:100%;
}

#registerBtn {
	margin-top:10px;
}

#successSection {
	font-size:2em;
	text-align:center;
}

.guestTitle {
	padding:13px 0px 12px 0px;
	font-size:1.3em;
}

@media (max-width: 992px) {
	.section {
		padding:20px 0px;
	}
}