<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(.*)/(.+)/(.+)$ ?h=1&page=$1&param=$2&param2=$3 [L,NC,QSA]

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(.*)/(.+)$ ?h=1&page=$1&param=$2 [L,NC,QSA]

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(.*)$ ?h=1&page=$1 [L,NC,QSA]
</IfModule>
