<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule (.+)/(.+)/(.+)/$ index.php?fileType=$1&fileID=$2&ekey=$3 [L,NC,QSA]

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule (.+)/(.+)/(.+)$ index.php?fileType=$1&fileID=$2&ekey=$3 [L,NC,QSA]

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule (.+)/(.+)/$ index.php?fileType=$1&fileHash=$2 [L,NC,QSA]
	
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule (.+)/(.+)$ index.php?fileType=$1&fileHash=$2 [L,NC,QSA]

</IfModule>